name: Deploy Laravel

on:
  push:
    branches: [ main ] # Sesuaikan nama branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }} # Isi 'riza' di secrets GitHub
        key: ${{ secrets.VPS_SSH_KEY }}
        script: |
          cd /var/www/html
          git pull origin main
          composer install --no-interaction --prefer-dist --optimize-autoloader
          npm install
          npm run build
          php artisan migrate --force
          php artisan optimize:clear
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache
          # Atur ulang permission jaga-jaga
          sudo chgrp -R www-data storage bootstrap/cache
          sudo chmod -R 775 storage bootstrap/cache
